@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 25% 90%;
    --muted-foreground: 210 10% 45%;
    --accent: 124 39% 64%;
    --accent-foreground: 120 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 88%;
    --ring: 207 82% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 15% 12%;
    --foreground: 210 10% 85%;
    --card: 210 15% 15%;
    --card-foreground: 210 10% 85%;
    --popover: 210 15% 15%;
    --popover-foreground: 210 10% 85%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 15% 25%;
    --secondary-foreground: 210 10% 85%;
    --muted: 210 15% 25%;
    --muted-foreground: 210 10% 65%;
    --accent: 124 39% 64%;
    --accent-foreground: 120 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 25%;
    --input: 210 15% 30%;
    --ring: 207 82% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
